.chatroom-container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}
.sidebar-container{
    grid-column: 1;
}
.chats-container{
    grid-column: span 3;
}
.main-chat-container{
    grid-column: span 5;
}
.chat-details-container{
    grid-column: span 3;
}