@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

.main {
  min-height: 100vh;
}

/* Scrollbar styling for chat-list */
.chat-list {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 180px);
  padding-right: 10px;
}

.chat-list::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

.chat-list:hover::-webkit-scrollbar {
  background-color: #1a1a1a;
}

.chat-list::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
}

.chat-list:hover::-webkit-scrollbar-thumb {
  background-color: #808074;
}

.chat-list::-webkit-scrollbar-thumb:hover {
  background-color: #d7e01a;
}

/* Chats Container */
.chats-container {
  width: 100%;
  background-color: #0c0114;
  display: flex;
  flex-direction: column;
}

header h2 {
  color: #e9e7e7;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
  padding: 20px;
}

/* Chat Search styling */
.Search-Box {
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 15px;
  padding: 10px;
  width: 300px;
  margin: 10px auto;
  justify-content: space-between;
}

.Search-Box input {
  border: none;
  background: none;
  color: #e9e7e7;
  font-size: 16px;
  width: 80%;
  outline: none;
}

.Search-Box input::placeholder {
  color: #ffffff66;
}

.search-icon {
  width: 18px;
  height: 18px;
  opacity: 0.7;
}

/* Chat Type styling */
.Chat-Type {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-left: 10px;
  color: #e9e7e7;
}

.chat-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border: 2px solid #0e1000;
}

.chat-text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 30.47px;
  text-align: left;
}

/* Chat Box */
.chat-box {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 324px;
  height: 87px;
  background-color: #1a1a1a;
  border-radius: 10px;
  margin: 10px auto;
  gap: 10px;
}

/* Chat Image */
.chat-img img {
  width: 75px;
  height: 75px;
  border-radius: 10px 0 0 10px;
}

/* Chat Info */
.chat-info {
  display: flex;
  flex-direction: column;
  margin-right: 65px;
  margin-bottom: 20px;
}

.chat-name {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #e9e7e7;
  margin-bottom: 10px;
}

.chat-bio {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #e9e7e766;
}

/* Chat Times */
.chat-times {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message-time {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #e9e7e766;
  margin-bottom: 10px;
}

/* Message Number Container */
.message-num {
  width: 17px;
  height: 23px;
  background-color: #991e1eed;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Message Number */
.num {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #e9e7e7;
}
